
# Caddyfile for WireGuard Web UI
{
    email sushilneupane9745@gmail.com
}

# Optional: If you want basic auth in addition to WG-Easy's password
# Uncomment the following:
vpn.sushilneupane.com.np {
     reverse_proxy wg-easy:51821
 }

http://localhost {
    # API routes - must come FIRST
    handle /api* {
        reverse_proxy inventory_backend:3000
    }
    
    # Frontend static files - everything else
    handle {
        root * /frontend/dist
        try_files {path} /index.html
        file_server
    }
}